body {
    background-color: rgb(255, 255, 255);
}

.center {
    display: flex;
    justify-content: center;
}

th,
td {
    border: solid 2px black;
}

th {
    background-color: antiquewhite;
}

td {
    background-color: rgba(250, 235, 215, 0.486);
    padding-left: 15px;
    padding-right: 15px;
}